/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
}
*,*::before,*::after {
    box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family:sans-serif;
	font-size: 20px;
	
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
}

.topnav{
	background-color: #eceaea;
	padding: 10px;
}

.social{
	display: flex;
	justify-content: flex-end;
}
.social-item a:hover{
	color: red;
}
.facebook{
	color: rgb(17, 70, 122);
}
.twitter{
	color: rgb(77, 177, 235);
}

.social-item{
	margin: 0 10px;
}
@media (max-width:768px) {
	.social{
		justify-content: center;
	}
}

.logo a{
	display: block;
	width: 170px;
	height: 36px;
	background: url(../images/logo.png);
	text-indent: -9999px;
} 

@media (max-width:768px) {
	.logo a{
		display: none;
	}
}


.navbar{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	height: 63px;
}

.navbar-items{
	display: flex;
	flex-wrap: wrap;
}

.navbar-items li a{
	color: rgb(24, 108, 80);
	display: block;
	padding: 10px 15px;
	font-weight: bold;
}

.navbar-items li a:hover{
	border-bottom: 3px solid rgb(24, 108, 80);
}

@media (max-width:768px) {
	.navbar{
		justify-content: center;
		height: auto;
	}
}

@media (max-width:568px) {
	.navbar-items li {
		width: 50%;
	}
}
@media (max-width:375px) {
	.navbar-items li {
		width: 100%;
	}
}
@media (max-width:375px) {
	.navbar-items{
		display: block;
	}
}

main{
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media (max-width:768px) {
	main{
		justify-content: start;
	}
}


.course{
	width: 30.333%;
	margin: 0 1%;
	text-align: center;
	box-shadow: 2px 1px 2px 3px rgba(0, 0, 0, 0.2);
	line-height: 1.2;
	padding:8px;
}

.course img{
	margin: 10px 0;
}

.course h2{
	font-weight: bold;
	margin: 5px 0;
}

@media (max-width:768px) {
	.course{
		width: 48%;
		margin-bottom: 16px;
	}
}

@media (max-width:568px) {
	.course{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 16px;
	}
}

